// {{kebabCase name}}.stories.tsx

import React from 'react';

import { StoryObj, Meta } from '@storybook/react';

import {{properCase name}}, { {{properCase name}}Props } from './{{kebabCase name}}';

export default {
  title: 'Components/{{properCase name}}',
  component: {{properCase name}},
  argTypes: {}
} as Meta<typeof {{properCase name}}>;

export const Story: StoryObj<typeof {{properCase name}}> = (props: JSX.IntrinsicAttributes & {{properCase name}}Props)  => <{{properCase name}} {...props} />

Story.args = {
  children: <h1>Hello {{properCase name}}</h1>
}

{{!-- Story.story = {
  name: "{{properCase name}}"
}; --}}
